@model GogoDriverWeb.Models.ModePaiement
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ModePaiement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="LibelleMode" class="control-label">Libelle</label>
                <input asp-for="LibelleMode" class="form-control" />
                <span asp-validation-for="LibelleMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pourcentage" class="control-label">Pourcentage</label>
                <input asp-for="Pourcentage" class="form-control" />
                <span asp-validation-for="Pourcentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
