@model GogoDriverWeb.Models.Vehicule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehiculeId" class="control-label"></label>
                <input asp-for="VehiculeId" class="form-control" />
                <span asp-validation-for="VehiculeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypevehiculeId" class="control-label"></label>
                <select asp-for="TypevehiculeId" class ="form-control" asp-items="ViewBag.TypevehiculeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeReservationId" class="control-label"></label>
                <select asp-for="TypeReservationId" class ="form-control" asp-items="ViewBag.TypeReservationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NomVehicule" class="control-label"></label>
                <input asp-for="NomVehicule" class="form-control" />
                <span asp-validation-for="NomVehicule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Immatriculation" class="control-label"></label>
                <input asp-for="Immatriculation" class="form-control" />
                <span asp-validation-for="Immatriculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Couleur" class="control-label"></label>
                <input asp-for="Couleur" class="form-control" />
                <span asp-validation-for="Couleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assurance" class="control-label"></label>
                <input asp-for="Assurance" class="form-control" />
                <span asp-validation-for="Assurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroChassis" class="control-label"></label>
                <input asp-for="NumeroChassis" class="form-control" />
                <span asp-validation-for="NumeroChassis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
