@{
    ViewData["Title"] = "Home page";
}

@{
    Layout = "_LayoutAcceuil";
}
<!DOCTYPE html>
<html>

<head>
    <!-- Basique -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Objectifs mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Objectifs du site -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Gogo Driver</title>


    <!-- feuille de style du curseur -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- noyau d'amorçage CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- style de polices -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <!-- Styles personnalisés pour ce modèle -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- style réactif -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body style="border-top : 50px solid white">

    <div class="hero_area">

        <!-- section de curseur -->
        <section class=" slider_section ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 ">
                        <div class="box">
                            <div class="detail-box" >
                                <h4>
                                    Bienvenu sur
                                </h4>
                                <h1>
                                    Gogo Driver
                                </h1>
                            </div>
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">

                                        <div class="img-box">
                                            <img src="images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="img-box">
                                            <img src="images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="img-box">
                                            <img src="images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="img-box">
                                            <img src="images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="img-box">
                                            <img src="images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="btn-box">
                                 <a href="" class="btn-1">
                                     En savoir plus
                                 </a>
                              </div> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 ">
                        <div class="slider_form">
                            <h4>
                                
                                <a asp-area="Identity" asp-page="/Account/Login">Effectuez une course</a>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- fin de la section du curseur -->
    </div>

    <!-- à propos de la section -->

    <section class="about_section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
                    <div class="detail-box">
                        <h2>
                            <br />À propos de
                            la compagnie de taxi
                        </h2>
                        <p>
                            Gogo Driver est une application conviviale qui permet aux utilisateurs de réserver des taxis à la demande en quelques clics. L'application offre des fonctionnalités telles que la localisation en temps réel des chauffeurs, le suivi des trajets, la tarification transparente et la possibilité de paiement par Orange Money, Mobile Money ou en espèces.
                        </p>
                        <!--  <a href="">
                              En savoir plus
                          </a> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/about-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- fin de la section-->
    <!-- section service -->

    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Nos <br>
                    Services
                </h2>
            </div>
            <div class="service_container">
                <div class="box">
                    <div class="img-box">
                        <img src="images/delivery-man.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Course
                        </h5>
                        <p>
                            Trajet effectué par un passager d'un point de départ à une destination donnée.
                        </p>
                        <!--  <a href="">
                              En savoir plus
                          </a> -->
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="images/airplane.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Aéroport
                        </h5>
                        <p>
                            Réserver une course depuis votre emplacement actuel vers l'aéroport.
                        </p>
                        <!--  <a href="">
                            En savoir plus
                        </a> -->
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="images/backpack.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Dépôt
                        </h5>
                        <p>
                            Réserver un dépôt pour un deplacement.
                        </p>
                        <!-- <a href="">
                            En savoir plus
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section de service final -->
    <!-- rubrique actualités -->
    <!-- <section class="news_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our <br>
                    News
                </h2>
            </div>
            <div class="news_container">
                <div class="box">
                    <div class="date-box">
                        <h6>
                            01 Nov 2019
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="images/news-img.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6>
                            Eiusmod tempor incididunt
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="date-box">
                        <h6>
                            01 Nov 2019
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="images/news-img.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6>
                            Eiusmod tempor incididunt
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="date-box">
                        <h6>
                            01 Nov 2019
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="images/news-img.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6>
                            Eiusmod tempor incididunt
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- fin de la section actualités -->
    <!-- espace client -->

    <section class="client_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Avis des <br>
                    Clients <br>
                </h2>
            </div>
            <div class="client_container">
                <div class="carousel-wrap ">
                    <div class="owl-carousel">
                        <div class="item">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client-1.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h3>
                                        Aliqua
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et amet, consectetur adipiscing
                                    </p>
                                    <img src="images/quote.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/client-2.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h3>
                                        Liqua
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et amet, consectetur adipiscing
                                    </p>
                                    <img src="images/quote.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- rubrique client final -->
    <!-- rubrique contact -->

    <section class="contact_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Nous <br>
                    Écrire
                </h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5  offset-md-1">
                    <div class="contact_form">
                        <h4>
                            Entrer en contact
                        </h4>
                        <form action="">
                            <input type="text" placeholder="Nom">
                            <input type="text" placeholder="E-mail">
                            <input type="text" placeholder="Message" class="message_input">
                            <button>Envoyer</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <img src="images/contact-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section de contact final -->
    <!--section d'application -->

    <section class="app_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <h2>
                            Download Our app
                        </h2>
                        <div class="text-box">
                            <h5>
                                details
                            </h5>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when distribution of letters
                            </p>
                        </div>
                        <div class="text-box">
                            <h5>
                                How it works
                            </h5>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when distribution of letters
                            </p>
                        </div>
                        <div class="btn-box">
                            <a href="">
                                <img src="images/playstore.png" alt="">
                            </a>
                            <a href="">
                                <img src="images/appstore.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/mobile.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- terminer la section de l'application -->
    <!-- pourquoi la section -->

    <section class="why_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Pourquoi <br>
                    Nous choisir
                </h2>
            </div>
            <div class="why_container">
                <div class="box">
                    <div class="img-box">
                        <img src="images/delivery-man-white.png" alt="" class="img-1">
                        <img src="images/delivery-man-black.png" alt="" class="img-2">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Meilleurs pilotes
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="images/shield-white.png" alt="" class="img-1">
                        <img src="images/shield-black.png" alt="" class="img-2">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Sûr et sécurisé
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="images/repairing-service-white.png" alt="" class="img-1">
                        <img src="images/repairing-service-black.png" alt="" class="img-2">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Assistance 24h/24 et 7j/7
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--fin de la section pourquoi -->
    <!-- rubrique informations -->

    <section class="info_section layout_padding-top layout_padding2-bottom">
        <div class="container">
            <div class="box">


                <div class="info_social">
                    <div>
                        <a href="">
                            <img src="images/fb.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/twitter.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- fin rubrique information-->
    <!-- script de carrousel de hiboux -->
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 20,
            navText: [],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1000: {
                    items: 2
                }
            }
        });
    </script>
    <!-- fin du script du carrousel des hiboux -->

</body>

</html>